@model IEnumerable<Doctor>

    <h2>@_localization.Getkey("DoctorList").Value</h2>
    <a href="/Doctor/Create" class="btn btn-primary">@_localization.Getkey("AddDoctor").Value</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@_localization.Getkey("DoctorId").Value</th>
                <th>@_localization.Getkey("DoctorName").Value</th>
                <th>@_localization.Getkey("DoctorSurname").Value</th>
                <th>@_localization.Getkey("DoctorEmail").Value</th>
                <th>@_localization.Getkey("DoctorSpeciality").Value</th>
                <th>@_localization.Getkey("DoctorImage").Value</th>
                <th>@_localization.Getkey("Buttons").Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=> item.DoctorId)</td>
                    <td>@Html.DisplayFor(modelItem=> item.DocName)</td>
                    <td>@Html.DisplayFor(modelItem=> item.DocSurname)</td>
                    <td>@Html.DisplayFor(modelItem=> item.DocEmail)</td>
                    <td>@Html.DisplayFor(modelItem=> item.DocSpeacialty)</td>
                    <td>@Html.DisplayFor(modelItem=> item.Image)</td>
                    <td>
                        <a asp-action="EditDoc" asp-route-id="@item.DoctorId" class="btn btn-sm btn-primary">@_localization.Getkey("Edit").Value</a>
                        <a asp-action="DeleteDoc" asp-route-id="@item.DoctorId" class="btn btn-sm btn-danger">@_localization.Getkey("Delete").Value</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>