@model IEnumerable<Patient>

    <h2>Patient List</h2>
    <a href="/Patient/CreatePatient" class="btn btn-primary">Add Patient</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m=> m.PatientId)</th>
                <th>@Html.DisplayNameFor(m=> m.PatientName)</th>
                <th>@Html.DisplayNameFor(m=> m.PatientSurname)</th>
                <th>@Html.DisplayNameFor(m=> m.PatientEmail)</th>
                <th>@Html.DisplayNameFor(m=> m.PatientPhone)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=> item.PatientId)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientName)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientSurname)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientEmail)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientPhone)</td>
                    <td>
                        <a asp-action="EditPatient" asp-route-id="@item.PatientId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="DeletePatient" asp-route-id="@item.PatientId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>