@model IEnumerable<Patient>

    <h2>@_localization.Getkey("PatientList").Value</h2>
    <a href="/Patient/CreatePatient" class="btn btn-primary">@_localization.Getkey("AddPatient").Value</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@_localization.Getkey("PatientId").Value</th>
                <th>@_localization.Getkey("PatientName").Value</th>
                <th>@_localization.Getkey("PatientSurname").Value</th>
                <th>@_localization.Getkey("PatientEmail").Value</th>
                <th>@_localization.Getkey("PatientPhone").Value</th>
                <th>@_localization.Getkey("Buttons").Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=> item.PatientId)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientName)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientSurname)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientEmail)</td>
                    <td>@Html.DisplayFor(modelItem=> item.PatientPhone)</td>
                    <td>
                        <a asp-action="EditPatient" asp-route-id="@item.PatientId" class="btn btn-sm btn-primary">@_localization.Getkey("Edit").Value</a>
                        <a asp-action="DeletePatient" asp-route-id="@item.PatientId" class="btn btn-sm btn-danger">@_localization.Getkey("Delete").Value</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>