@model IEnumerable<Appointment>

    <h2>@_localization.Getkey("AppointmentList").Value</h2>
    <a href="/Appointment/CreateAppointment" class="btn btn-primary">@_localization.Getkey("AddAppointment").Value</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@_localization.Getkey("AppointmentId").Value</th>
                <th>@_localization.Getkey("DoctorNameSurname").Value</th>
                <th>@_localization.Getkey("PatientNameSurname").Value</th>
                <th>@_localization.Getkey("AppointmentDate").Value</th>
                <th>@_localization.Getkey("Buttons").Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=> item.AppointmentId)</td>
                    <td>@Html.DisplayFor(modelItem=> item.Doctor.DocNameSurname)</td>
                    <td>@Html.DisplayFor(modelItem=> item.Patient.PatientNameSurname)</td>
                    <td>@Html.DisplayFor(modelItem=> item.AppointmentDate)</td>
                    <td>
                        <a asp-action="EditAppointment" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-primary">@_localization.Getkey("Edit").Value</a>
                        <a asp-action="DeleteAppointment" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-danger">@_localization.Getkey("Delete").Value</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>